{% extends 'base.html' %}
{% block title %}Unauthorized Access{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card text-center error-card">
                    <div class="card-header">Unauthorized Access</div>
                    <div class="card-body">
                        <h1 class="card-title">Looks like you don't have access to this page.</h1>
                        <p class="card-text">{{e}}</p>
                        <small>Please register or login below.</small>
                        <p><a href="/register">Register</a> or <a href="/login">Login</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}